@import '../../pages/template.sass'

/* overwrite */
.subtitle, .content
    text-align: left
    margin-bottom: 10px

.dateTitle
    @extend .subtitle
    display: none

@media screen and (max-width: 764px)
    .dateTitle
        display: inline-block
        font-size: 5vw

.card
    background-color: $orange

.img
    width: 100%
