@import '../../pages/template.sass'

/* overwrite area */

.subtitle, .content
    text-align: left
    margin-bottom: 10px

.subtitle
    color: inherit
/* overwrite area */

.card
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16)
    background-color: #f7f7f7

.card_inner
    display: flex
    flex-direction: column
    margin: 2%

    @media screen and (max-width: 764px)
        margin: 5%

.dateContent
    @extend .content
    display: none

    @media screen and (max-width: 764px)
        display: inline-block

.link_content
    display: inline-block
    color: $blue
    text-decoration: none
    outline: none

    &:hover, &:focus
        color: $orange

.img
    width: 100%
