@import '../../pages/template.sass'

/* overwrite */
.subtitle, .content
    text-align: left
    margin-bottom: 10px

.card
    width: 80%
    margin: auto
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16)

.card_inner
    display: flex
    flex-direction: column
    margin: 2%

.dateTitle
    @extend .subtitle
    display: none

@media screen and (max-width: 764px)
    .dateTitle
        display: inline-block
        font-size: 5vw

.img
    width: 100%
