.title
    margin-top: 100px
    text-align: center
    font-size: 50px
    animation: 5s linear infinite gaming

.subtitle
    margin-top: 100px
    text-align: center
    font-size: 30px

a
    margin-left: 20px
    font-size: 30px

    &:hover
        display: inline-block
        animation: 2s infinite vibration

    &:active
        color: lightgreen
        animation: none

// FIXME: 変数とかfor文とか使ってキレイに書きたい
@keyframes vibration
    0%, 100%
        transform: skew(0deg, 0deg)

    10%
        transform: skew(5deg, 5deg)

    20%
        transform: skew(-4deg, -4deg)

    30%
        transform: skew(3deg, 3deg)

    40%
        transform: skew(-2deg, -2deg)

    50%
        transform: skew(1deg, 1deg)

    60%
        transform: skew(-0.6deg, -0.6deg)

    70%
        transform: skew(0.3deg, 0.3deg)

@keyframes gaming
    0%, 100%
        color: red

    50%
        color: blue

    25%, 75%
        color: yellow