.title
    margin-top: 100px
    text-align: center
    font-size: 50px
    animation: 5s linear infinite gaming

.subtitle
    margin-top: 100px
    text-align: center
    font-size: 30px

@keyframes gaming
    0%, 100%
        color: red

    50%
        color: blue

    25%, 75%
        color: yellow